@import "../mixin/index";
@import "../animate/index";

.gEllipsis { @include ellipsis; }
.gPullLeft { float: left; }
.gPullRight { float: right; }
.gClearfix { @include clearfix; }
.gNoSelect { @include noSelect; }
.gTextCenter { @include textCenter; }
.gOverlay { @include overlay; }
.gClickThrough { pointer-events: none; }
.gClickable    { pointer-events: all;  }

.gLineClamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
@for $i from 1 through 4 {
  .gLineClamp#{$i} { -webkit-line-clamp: $i; }
}

.gRounded { border-radius: 50%; }
.gFullWidth { width: 100%; }       // container width
.gFullHeight { height: 100%; }     // container height
.gRespHeight { min-height: 100%; } // responsive height
.gRespWidth { min-width: 100%; }   // responsive width

.gCenter { @include center; }
.gHCenter { @include hCenter; }
.gVCenter { @include vCenter; }
.gHVCenter { @include hvCenter; }
.gHCenterChildren { @include hCenterChildren; }
.gVCenterChildren { @include vCenterChildren; }
.gHVCenterChildren { @include hvCenterChildren; }
.gSpaceBetweenChildren { display: flex; justify-content: space-between; }
.gSpaceAroundChildren { display: flex; justify-content: space-around; }

.gFlexContainer { display: flex; }
.gFlexVertical { flex-direction: column; }
.gFlexWrap { flex-wrap: wrap; }
.gFlex { flex: 1; }
@for $i from 1 through 4 {
  .gFlex#{$i} { flex: $i; }
}

// 进入类的动画可以加上此 timing-function
.gInEffect {
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, .25, 1);
}
